In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import statsmodels.api as sm
from scipy.stats import boxcox
pd.options.display.max_rows = 100
## Install xlrd package to load Excel files
#!conda install openpyxl
#!conda install xlrd

In [10]:
file1 = pd.read_csv('file1.csv')
file2 = pd.read_csv('file2.csv')#, sep = '\t')
file3 = pd.read_csv('file3.csv')

In [ ]:
file1.head()

In [ ]:
file2.head()

In [ ]:
file3.head()

In [11]:
#renaming the columns
file1.rename(columns={'ST':'State'}, inplace=True) # changed the column name ST into State
file2.rename(columns={'ST':'State'}, inplace=True) # changed the column name ST into State
file2.rename(columns={'GENDER':'Gender'}, inplace=True) # changed the column name GENDER into Gender
file1.rename(columns={'GENDER':'Gender'}, inplace=True) # changed the column name GENDER into Gender

In [ ]:
file1.head()

In [ ]:
file2.head()

In [ ]:
file3.head()

In [12]:
# Arranging all the columns in file 2 amd file 3 in the order provided in file 1
file2 = file2[['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount']]
file3 = file3[['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount']]

In [13]:
# concatenate the files file1, file2, file3
auto_data_file = pd.concat([file1,file2,file3], axis=0)
(auto_data_file)

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [14]:
# changing the column names to lower
auto_data_file.columns=[i.lower() for i in auto_data_file.columns]
auto_data_file
auto_data_file.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12074 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9137 non-null   object
 1   state                      9137 non-null   object
 2   gender                     9015 non-null   object
 3   education                  9137 non-null   object
 4   customer lifetime value    9130 non-null   object
 5   income                     9137 non-null   float64
 6   monthly premium auto       9137 non-null   float64
 7   number of open complaints  9137 non-null   object
 8   policy type                9137 non-null   object
 9   vehicle class              9137 non-null   object
 10  total claim amount         9137 non-null   float64
dtypes: float64(3), object(8)
memory usage: 1.1+ MB

In [15]:
# we have to reset the index
auto_data_file.reset_index() # after that we have two indices


# drop some columns which are not so important
auto_data_file.drop(['customer'], axis=1, inplace = True)
auto_data_file.drop(['state'], axis=1, inplace = True)
auto_data_file.head()

,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [16]:
# Removing duplicates

auto_data_file['gender'].unique()
def clean_gender(x):
    if x in ['M', 'Male']:
        return 'M'
    elif x in ['F', 'Femal', 'female']:
        return 'F'
    else:
        return 'NaN'

In [17]:
auto_data_file['gender'] = list(map(clean_gender, auto_data_file['gender']))

In [18]:
auto_data_file['gender'].unique()

array(['NaN', 'F', 'M'], dtype=object)

In [19]:
# removing unwanted characters from some columns
auto_data_file['customer lifetime value'] = auto_data_file['customer lifetime value'].astype('string') # changing column the entries in the column to string
auto_data_file['customer lifetime value'] = auto_data_file['customer lifetime value'].str.replace('%', '')
auto_data_file['customer lifetime value'] = auto_data_file['customer lifetime value'].astype('float') # changing column the entries in the column to string
auto_data_file.info()
auto_data_file.head()

# truncate/round-up the entries in the column 'customer lifetime value' to integer

auto_data_file['customer lifetime value'] = auto_data_file['customer lifetime value'].apply(np.floor)

auto_data_file.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12074 entries, 0 to 7069
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   gender                     12074 non-null  object
 1   education                  9137 non-null   object
 2   customer lifetime value    9130 non-null   float64
 3   income                     9137 non-null   float64
 4   monthly premium auto       9137 non-null   float64
 5   number of open complaints  9137 non-null   object
 6   policy type                9137 non-null   object
 7   vehicle class              9137 non-null   object
 8   total claim amount         9137 non-null   float64
dtypes: float64(4), object(5)
memory usage: 943.3+ KB

,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,F,Bachelor,697953.0,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,F,Bachelor,1288743.0,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,M,Bachelor,764586.0,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,M,High School or Below,536307.0,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [20]:
# cleaning up the  'number of open complaints' column
auto_data_file['number of open complaints'] = auto_data_file['number of open complaints'].astype('string') # changing column the entries in the column to string

auto_data_file['number of open complaints'].fillna('missing', inplace=True)
#auto_data_file['number of open complaints'].unique()

,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,NaN,Master,NaN,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934
1,F,Bachelor,697953.0,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,F,Bachelor,1288743.0,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,M,Bachelor,764586.0,0.0,106.0,0,Corporate Auto,SUV,529.881344
4,M,High School or Below,536307.0,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323

In [21]:
# cleaning up 'number of open complaints' column: continued

auto_data_file['number of open complaints'] = auto_data_file['number of open complaints'].str.replace('(.*)/0/(.*)','0', regex=True)
auto_data_file['number of open complaints'] = auto_data_file['number of open complaints'].str.replace('(.*)/2/(.*)','0', regex=True)
auto_data_file['number of open complaints'] = auto_data_file['number of open complaints'].str.replace('(.*)/1/(.*)','1', regex=True)
auto_data_file['number of open complaints'] = auto_data_file['number of open complaints'].str.replace('(.*)/3/(.*)','0', regex=True)
auto_data_file['number of open complaints'] = auto_data_file['number of open complaints'].str.replace('(.*)/5/(.*)','5', regex=True)
auto_data_file['number of open complaints'] = auto_data_file['number of open complaints'].str.replace('(.*)/4/(.*)','4', regex=True)
 

    
auto_data_file['number of open complaints'].unique()

<StringArray>
['0', '1', '5', '4', 'missing', '2', '3']
Length: 7, dtype: string