In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import statsmodels.api as sm
from scipy.stats import boxcox
pd.options.display.max_rows = 100
## Install xlrd package to load Excel files
#!conda install openpyxl
#!conda install xlrd

In [2]:
file1 = pd.read_csv('file1.csv')
file2 = pd.read_csv('file2.csv')#, sep = '\t')
file3 = pd.read_csv('file3.csv')

In [3]:
file1.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [4]:
file2.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.2,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.2,Corporate Auto,Two-Door Car

In [5]:
file3.head()

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV

In [6]:
#renaming the columns
file1.rename(columns={'ST':'State'}, inplace=True) # changed the column name ST into State
file2.rename(columns={'ST':'State'}, inplace=True) # changed the column name ST into State
file2.rename(columns={'GENDER':'Gender'}, inplace=True) # changed the column name GENDER into Gender
file1.rename(columns={'GENDER':'Gender'}, inplace=True) # changed the column name GENDER into Gender

In [7]:
file1.head()

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [8]:
file2.head()

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.2,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.2,Corporate Auto,Two-Door Car

In [9]:
file3.head()

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV

In [10]:
# Arranging all the columns in file 2 amd file 3 in the order provided in file 1
file2 = file2[['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount']]
file3 = file3[['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount']]

In [11]:
# concatenate the files file1, file2, file3
df = pd.concat([file1,file2,file3], axis=0)
(df)

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [12]:
# changing the column names to lower
df.columns=[i.lower() for i in df.columns]
df
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12074 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9137 non-null   object
 1   state                      9137 non-null   object
 2   gender                     9015 non-null   object
 3   education                  9137 non-null   object
 4   customer lifetime value    9130 non-null   object
 5   income                     9137 non-null   float64
 6   monthly premium auto       9137 non-null   float64
 7   number of open complaints  9137 non-null   object
 8   policy type                9137 non-null   object
 9   vehicle class              9137 non-null   object
 10  total claim amount         9137 non-null   float64
dtypes: float64(3), object(8)
memory usage: 1.1+ MB

In [13]:
# we have to reset the index
df.reset_index() # after that we have two indices


# drop some columns which are not so important
df.drop(['customer'], axis=1, inplace = True)
#df.drop(['state'], axis=1, inplace = True)
df.head()

,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [14]:
# Removing duplicates

df['gender'].unique()
def clean_gender(x):
    if x in ['M', 'Male']:
        return 'M'
    elif x in ['F', 'Femal', 'female']:
        return 'F'
    else:
        return 'NaN'

In [15]:
df['gender'] = list(map(clean_gender, df['gender']))

In [16]:
df['gender'].unique()

array(['NaN', 'F', 'M'], dtype=object)

In [17]:
# removing unwanted characters from some columns
df['customer lifetime value'] = df['customer lifetime value'].astype('string') # changing column the entries in the column to string
df['customer lifetime value'] = df['customer lifetime value'].str.replace('%', '')
df['customer lifetime value'] = df['customer lifetime value'].astype('float') # changing column the entries in the column to string
df.info()
df.head()

# truncate/round-up the entries in the column 'customer lifetime value' to integer

df['customer lifetime value'] = df['customer lifetime value'].apply(np.floor)

df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12074 entries, 0 to 7069
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      9137 non-null   object
 1   gender                     12074 non-null  object
 2   education                  9137 non-null   object
 3   customer lifetime value    9130 non-null   float64
 4   income                     9137 non-null   float64
 5   monthly premium auto       9137 non-null   float64
 6   number of open complaints  9137 non-null   object
 7   policy type                9137 non-null   object
 8   vehicle class              9137 non-null   object
 9   total claim amount         9137 non-null   float64
dtypes: float64(4), object(6)
memory usage: 1.0+ MB

,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,Arizona,F,Bachelor,697953.0,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,Nevada,F,Bachelor,1288743.0,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,California,M,Bachelor,764586.0,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,Washington,M,High School or Below,536307.0,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [18]:
# cleaning up the  'number of open complaints' column
df['number of open complaints'] = df['number of open complaints'].astype('string') # changing column the entries in the column to string

df['number of open complaints'].fillna('missing', inplace=True)
#df['number of open complaints'].unique()

In [19]:
# cleaning up 'number of open complaints' column: continued

df['number of open complaints'] = df['number of open complaints'].astype(str).str.replace('(.*)/0/(.*)','0', regex=True)
df['number of open complaints'] = df['number of open complaints'].astype(str).str.replace('(.*)/2/(.*)','2', regex=True)
df['number of open complaints'] = df['number of open complaints'].astype(str).str.replace('(.*)/1/(.*)','1', regex=True)
df['number of open complaints'] = df['number of open complaints'].astype(str).str.replace('(.*)/3/(.*)','3', regex=True)
df['number of open complaints'] = df['number of open complaints'].astype(str).str.replace('(.*)/5/(.*)','5', regex=True)
df['number of open complaints'] = df['number of open complaints'].astype(str).str.replace('(.*)/4/(.*)','4', regex=True)

df['number of open complaints'] = df['number of open complaints'].str.replace('missing','NaN', regex=True)
  

df['number of open complaints'] = df['number of open complaints'].astype('float')
    
df['number of open complaints'].unique()  

# saving the Monday's work to a new csv

df.to_csv('Monday.csv', index=False)

In [20]:
df['number of open complaints'].unique()
df.head(100)

,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,Washington,NaN,Master,NaN,0.0,1000.0,0.0,Personal Auto,Four-Door Car,2.704934
1,Arizona,F,Bachelor,697953.0,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
2,Nevada,F,Bachelor,1288743.0,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
3,California,M,Bachelor,764586.0,0.0,106.0,0.0,Corporate Auto,SUV,529.881344
4,Washington,M,High School or Below,536307.0,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323
5,Oregon,F,Bachelor,825629.0,62902.0,69.0,0.0,Personal Auto,Two-Door Car,159.383042
6,Oregon,F,College,538089.0,55350.0,67.0,0.0,Corporate Auto,Four-Door Car,321.600000
7,Arizona,M,Master,721610.0,0.0,101.0,0.0,Corporate Auto,Four-Door Car,363.029680
8,Oregon,M,Bachelor,2412750.0,14072.0,71.0,0.0,Corporate Auto,Four-Door Car,511.200000
9,Oregon,F,College,738817.0,28812.0,93.0,0.0,Special Auto,Four-Door Car,425.527834
10,California,M,College,473899.0,0.0,67.0,0.0,Personal Auto,Four-Door Car,482.400000
11,California,NaN,College,819719.0,0.0,110.0,0.0,Personal Auto,SUV,528.000000
12,California,NaN,Master,879879.0,77026.0,110.0,2.0,Corporate Auto,Four-Door Car,472.029737
13,Arizona,NaN,High School or Below,881901.0,99845.0,110.0,1.0,Corporate Auto,SUV,528.000000
14,California,NaN,College,538443.0,83689.0,70.0,2.0,Corporate Auto,Four-Door Car,307.139132
15,Oregon,NaN,Bachelor,746313.0,24599.0,64.0,1.0,Corporate Auto,Four-Door Car,42.920271
16,Nevada,NaN,High School or Below,256686.0,25049.0,67.0,0.0,Personal Auto,Two-Door Car,454.245098
17,Cali,NaN,College,394524.0,28855.0,101.0,0.0,Personal Auto,SUV,647.442031
18,Oregon,NaN,College,571033.0,51148.0,72.0,0.0,Personal Auto,Four-Door Car,308.981664
19,California,NaN,High School or Below,816261.0,66140.0,101.0,0.0,Corporate Auto,Four-Door Car,484.800000
20,Oregon,NaN,High School or Below,287205.0,57749.0,74.0,0.0,Personal Auto,Two-Door Car,355.200000
21,Washington,M,Bachelors,617710.0,61040.0,79.0,1.0,Personal Auto,Two-Door Car,20.382876
22,Arizona,NaN,Bachelor,2412750.0,14072.0,71.0,0.0,Personal Auto,Four-Door Car,511.200000
23,Nevada,NaN,Bachelor,245019.0,0.0,73.0,3.0,Corporate Auto,Four-Door Car,554.376763
24,California,NaN,Bachelor,239210.0,17870.0,61.0,0.0,Corporate Auto,Four-Door Car,439.200000
25,Oregon,NaN,College,580206.0,97541.0,72.0,0.0,Personal Auto,Four-Door Car,389.185006
26,California,NaN,Bachelor,394637.0,0.0,111.0,0.0,Personal Auto,Four-Door Car,799.200000
27,Washington,M,College,916206.0,29723.0,80.0,0.0,Personal Auto,Four-Door Car,20.985105
28,AZ,NaN,College,1290256.0,86584.0,111.0,2.0,Personal Auto,Four-Door Car,532.800000
29,Oregon,NaN,Master,323536.0,75690.0,80.0,1.0,Personal Auto,Four-Door Car,384.000000
30,Arizona,NaN,College,245458.0,23158.0,63.0,1.0,Personal Auto,Four-Door Car,322.294043
31,Nevada,NaN,High School or Below,1897545.0,65999.0,237.0,0.0,Corporate Auto,Luxury SUV,615.927769
32,California,NaN,Bachelor,471532.0,0.0,65.0,0.0,Personal Auto,Four-Door Car,308.150890
33,Washington,F,College,473787.0,0.0,130.0,0.0,Personal Auto,SUV,23.820158
34,Oregon,NaN,Bachelor,493291.0,37260.0,62.0,0.0,Corporate Auto,Four-Door Car,15.437681
35,Arizona,NaN,High School or Below,574422.0,68987.0,71.0,0.0,Personal Auto,Four-Door Car,204.475147
36,California,NaN,Bachelor,1389173.0,42305.0,117.0,0.0,Personal Auto,Four-Door Car,561.600000
37,Oregon,NaN,Master,738097.0,65706.0,91.0,0.0,Personal Auto,Four-Door Car,436.800000
38,Oregon,NaN,Bachelor,309003.0,0.0,90.0,0.0,Personal Auto,Two-Door Car,648.000000
39,Arizona,NaN,High School or Below,252163.0,53243.0,66.0,2.0,Personal Auto,Four-Door Car,157.397849
40,Nevada,NaN,High School or Below,265206.0,0.0,70.0,1.0,Corporate Auto,Two-Door Car,484.318536
41,Oregon,NaN,College,277104.0,50071.0,71.0,0.0,Corporate Auto,Two-Door Car,18.918935
42,California,NaN,Bachelor,393900.0,60021.0,99.0,0.0,Personal Auto,Four-Door Car,882.871945
43,Arizona,NaN,High School or Below,1223187.0,43244.0,103.0,0.0,Personal Auto,Sports Car,494.400000
44,Washington,M,Doctor,495165.0,46896.0,35354.0,1.0,Personal Auto,Four-Door Car,31.707317
45,Oregon,NaN,Doctor,1281910.0,10105.0,172.0,3.0,Personal Auto,SUV,0.517753
46,Arizona,NaN,Bachelor,446851.0,0.0,73.0,3.0,Personal Auto,Four-Door Car,579.165954
47,Oregon,NaN,High School or Below,551434.0,23218.0,71.0,0.0,Personal Auto,Two-Door Car,447.793440
48,California,NaN,Bachelor,334387.0,0.0,92.0,0.0,Corporate Auto,Four-Door Car,529.624084
49,Arizona,NaN,High School or Below,229447.0,0.0,62.0,0.0,Personal Auto,Four-Door Car,313.023175
50,Oregon,NaN,College,3670742.0,24804.0,104.0,0.0,Personal Auto,SUV,593.830288
51,California,NaN,Bachelor,3347334.0,33190.0,106.0,0.0,Corporate Auto,SUV,508.800000
52,Nevada,NaN,High School or Below,798343.0,36014.0,69.0,3.0,Special Auto,Four-Door Car,173.956072
53,Washington,F,Master,487938.0,67163.0,61.0,2.0,Personal Auto,Two-Door Car,33.192803
54,California,NaN,Bachelor,429399.0,16701.0,113.0,0.0,Personal Auto,Four-Door Car,831.625979
55,Arizona,NaN,College,716439.0,46623.0,91.0,0.0,Corporate Auto,Four-Door Car,436.800000
56,California,NaN,College,761951.0,64749.0,64.0,0.0,Special Auto,Four-Door Car,302.565190
57,Arizona,NaN,High School or Below,395800.0,0.0,101.0,0.0,Personal Auto,SUV,484.800000
58,Oregon,NaN,High School or Below,449949.0,16969.0,124.0,2.0,Personal Auto,SUV,704.768111
59,Oregon,NaN,Master,405956.0,11621.0,108.0,0.0,Personal Auto,Four-Door Car,518.400000
60,Arizona,NaN,Bachelor,445811.0,17622.0,65.0,1.0,Personal Auto,Four-Door Car,312.000000
61,California,NaN,Bachelor,811033.0,11489.0,105.0,0.0,Personal Auto,Two-Door Car,504.000000
62,Oregon,NaN,Bachelor,333976.0,0.0,94.0,0.0,Personal Auto,Two-Door Car,863.327324
63,California,NaN,High School or Below,2426101.0,66525.0,100.0,0.0,Personal Auto,SUV,104.331355
64,Arizona,NaN,Bachelor,661397.0,0.0,63.0,0.0,Personal Auto,Four-Door Car,676.391482
65,WA,NaN,College,293069.0,33663.0,73.0,0.0,Personal Auto,Four-Door Car,350.400000
66,Oregon,NaN,College,867219.0,22547.0,112.0,0.0,Corporate Auto,SUV,537.600000
67,AZ,NaN,High School or Below,1163866.0,61486.0,97.0,0.0,Personal Auto,Two-Door Car,465.258644
68,Oregon,NaN,Bachelor,684615.0,0.0,95.0,0.0,Personal Auto,Two-Door Car,456.000000
69,California,NaN,College,1172777.0,29879.0,102.0,0.0,Personal Auto,Four-Door Car,500.254235
70,Oregon,NaN,High School or Below,2264383.0,93011.0,113.0,0.0,Personal Auto,SUV,281.451042
71,Oregon,NaN,Master,261447.0,65186.0,65.0,0.0,Personal Auto,Two-Door Car,5.434505
72,Oregon,NaN,Master,245175.0,26840.0,64.0,2.0,Personal Auto,Four-Door Car,307.200000
73,Oregon,NaN,Bachelor,678127.0,0.0,104.0,1.0,Personal Auto,Sports Car,982.399613
74,Oregon,NaN,Bachelor,497480.0,75644.0,65.0,3.0,Personal Auto,Two-Door Car,467.803638
75,Oregon,NaN,Bachelor,859160.0,38984.0,73.0,0.0,Personal Auto,Four-Door Car,350.400000
76,Oregon,NaN,High School or Below,559216.0,71811.0,71.0,0.0,Personal Auto,Four-Door Car,29.034160
77,Nevada,NaN,College,800947.0,20961.0,67.0,0.0,Personal Auto,Four-Door Car,321.600000
78,Washington,F,Master,NaN,41275.0,96.0,0.0,Personal Auto,Four-Door Car,41.122303
79,California,NaN,Bachelor,5816655.0,61321.0,186.0,1.0,Personal Auto,Luxury Car,427.631210
80,California,NaN,College,802522.0,0.0,77.0,0.0,Personal Auto,Two-Door Car,25.807685
81,California,NaN,High School or Below,578018.0,51066.0,74.0,0.0,Personal Auto,Four-Door Car,787.993313
82,California,NaN,Doctor,411853.0,34378.0,102.0,0.0,Personal Auto,SUV,489.600000
83,Nevada,NaN,Master,252307.0,43072.0,63.0,0.0,Personal Auto,Four-Door Car,302.400000
84,Oregon,NaN,College,655421.0,25222.0,90.0,0.0,Personal Auto,Four-Door Car,475.623251
85,Washington,F,Bachelor,538275.0,77552.0,68.0,1.0,Corporate Auto,Four-Door Car,45.215059
86,California,NaN,College,592672.0,23091.0,96.0,5.0,Personal Auto,Four-Door Car,460.800000
87,California,NaN,Bachelor,268347.0,48269.0,69.0,3.0,Corporate Auto,Four-Door Car,282.151207
88,Oregon,NaN,Bachelor,269518.0,32720.0,67.0,0.0,Personal Auto,Four-Door Car,321.600000
89,California,NaN,College,604702.0,20396.0,76.0,1.0,Personal Auto,Four-Door Car,364.800000
90,Oregon,NaN,College,1317101.0,21513.0,119.0,1.0,Personal Auto,Two-Door Car,679.827592
91,Washington,F,College,1595001.0,0.0,87.0,1.0,Personal Auto,Two-Door Car,46.041452
92,Oregon,NaN,Bachelor,252765.0,80744.0,63.0,0.0,Corporate Auto,Four-Door Car,11.879037
93,Oregon,NaN,Bachelor,267209.0,52822.0,67.0,0.0,Corporate Auto,Two-Door Car,350.529033
94,California,NaN,High School or Below,531329.0,0.0,77.0,1.0,Personal Auto,Four-Door Car,863.394700
95,Oregon,NaN,Bachelor,2094619.0,69738.0,74.0,1.0,Personal Auto,Four-Door Car,492.127532
96,AZ,NaN,Master,837535.0,17780.0,109.0,0.0,Personal Auto,SUV,132.588288
97,California,NaN,Bachelor,480166.0,18107.0,62.0,0.0,Personal Auto,Four-Door Car,297.600000
98,AZ,NaN,Bachelor,574594.0,57740.0,74.0,3.0,Personal Auto,Four-Door Car,269.905129
99,Oregon,NaN,College,606611.0,32627.0,76.0,0.0,Personal Auto,Two-Door Car,380.036697

In [21]:
## Tuesday's work starts here

# calling the csv from Monday
df = pd.read_csv('Monday.csv')
df.head()

# Replacing zeros in the income column with NaN

df['income'].replace('0', 'NaN', inplace=True) 

# Replacing null values with the mean

def replace_null_value(dataframe, column):
    if dataframe[column].dtype != object:
        mean = dataframe[column].mean()
        dataframe[column].fillna(value=mean, inplace = True)
    else:
        pass

for clmn in df.columns:
    replace_null_value(df, clmn)
 


df.columns

Index(['state', 'gender', 'education', 'customer lifetime value', 'income',
       'monthly premium auto', 'number of open complaints', 'policy type',
       'vehicle class', 'total claim amount'],
      dtype='object')

In [22]:
# Bucketing the data
df.rename(columns={'state':'zone'}, inplace=True) # changed the column name state into zone
def old_to_new(old, new, columnname):
    df[columnname].replace(old, new, inplace = True)

old_to_new(['Washington', 'WA'], 'East', 'zone') 
old_to_new(['California', 'Cali'], 'West', 'zone')
old_to_new('Oregon', 'North West', 'zone')
old_to_new(['Arizona', 'Nevada', 'AZ'], 'Central', 'zone')

In [23]:
df.head(100)

,zone,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,East,NaN,Master,1.821959e+05,0.0,1000.0,0.0,Personal Auto,Four-Door Car,2.704934
1,Central,F,Bachelor,6.979530e+05,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
2,Central,F,Bachelor,1.288743e+06,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
3,West,M,Bachelor,7.645860e+05,0.0,106.0,0.0,Corporate Auto,SUV,529.881344
4,East,M,High School or Below,5.363070e+05,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323
5,North West,F,Bachelor,8.256290e+05,62902.0,69.0,0.0,Personal Auto,Two-Door Car,159.383042
6,North West,F,College,5.380890e+05,55350.0,67.0,0.0,Corporate Auto,Four-Door Car,321.600000
7,Central,M,Master,7.216100e+05,0.0,101.0,0.0,Corporate Auto,Four-Door Car,363.029680
8,North West,M,Bachelor,2.412750e+06,14072.0,71.0,0.0,Corporate Auto,Four-Door Car,511.200000
9,North West,F,College,7.388170e+05,28812.0,93.0,0.0,Special Auto,Four-Door Car,425.527834
10,West,M,College,4.738990e+05,0.0,67.0,0.0,Personal Auto,Four-Door Car,482.400000
11,West,NaN,College,8.197190e+05,0.0,110.0,0.0,Personal Auto,SUV,528.000000
12,West,NaN,Master,8.798790e+05,77026.0,110.0,2.0,Corporate Auto,Four-Door Car,472.029737
13,Central,NaN,High School or Below,8.819010e+05,99845.0,110.0,1.0,Corporate Auto,SUV,528.000000
14,West,NaN,College,5.384430e+05,83689.0,70.0,2.0,Corporate Auto,Four-Door Car,307.139132
15,North West,NaN,Bachelor,7.463130e+05,24599.0,64.0,1.0,Corporate Auto,Four-Door Car,42.920271
16,Central,NaN,High School or Below,2.566860e+05,25049.0,67.0,0.0,Personal Auto,Two-Door Car,454.245098
17,West,NaN,College,3.945240e+05,28855.0,101.0,0.0,Personal Auto,SUV,647.442031
18,North West,NaN,College,5.710330e+05,51148.0,72.0,0.0,Personal Auto,Four-Door Car,308.981664
19,West,NaN,High School or Below,8.162610e+05,66140.0,101.0,0.0,Corporate Auto,Four-Door Car,484.800000
20,North West,NaN,High School or Below,2.872050e+05,57749.0,74.0,0.0,Personal Auto,Two-Door Car,355.200000
21,East,M,Bachelors,6.177100e+05,61040.0,79.0,1.0,Personal Auto,Two-Door Car,20.382876
22,Central,NaN,Bachelor,2.412750e+06,14072.0,71.0,0.0,Personal Auto,Four-Door Car,511.200000
23,Central,NaN,Bachelor,2.450190e+05,0.0,73.0,3.0,Corporate Auto,Four-Door Car,554.376763
24,West,NaN,Bachelor,2.392100e+05,17870.0,61.0,0.0,Corporate Auto,Four-Door Car,439.200000
25,North West,NaN,College,5.802060e+05,97541.0,72.0,0.0,Personal Auto,Four-Door Car,389.185006
26,West,NaN,Bachelor,3.946370e+05,0.0,111.0,0.0,Personal Auto,Four-Door Car,799.200000
27,East,M,College,9.162060e+05,29723.0,80.0,0.0,Personal Auto,Four-Door Car,20.985105
28,Central,NaN,College,1.290256e+06,86584.0,111.0,2.0,Personal Auto,Four-Door Car,532.800000
29,North West,NaN,Master,3.235360e+05,75690.0,80.0,1.0,Personal Auto,Four-Door Car,384.000000
30,Central,NaN,College,2.454580e+05,23158.0,63.0,1.0,Personal Auto,Four-Door Car,322.294043
31,Central,NaN,High School or Below,1.897545e+06,65999.0,237.0,0.0,Corporate Auto,Luxury SUV,615.927769
32,West,NaN,Bachelor,4.715320e+05,0.0,65.0,0.0,Personal Auto,Four-Door Car,308.150890
33,East,F,College,4.737870e+05,0.0,130.0,0.0,Personal Auto,SUV,23.820158
34,North West,NaN,Bachelor,4.932910e+05,37260.0,62.0,0.0,Corporate Auto,Four-Door Car,15.437681
35,Central,NaN,High School or Below,5.744220e+05,68987.0,71.0,0.0,Personal Auto,Four-Door Car,204.475147
36,West,NaN,Bachelor,1.389173e+06,42305.0,117.0,0.0,Personal Auto,Four-Door Car,561.600000
37,North West,NaN,Master,7.380970e+05,65706.0,91.0,0.0,Personal Auto,Four-Door Car,436.800000
38,North West,NaN,Bachelor,3.090030e+05,0.0,90.0,0.0,Personal Auto,Two-Door Car,648.000000
39,Central,NaN,High School or Below,2.521630e+05,53243.0,66.0,2.0,Personal Auto,Four-Door Car,157.397849
40,Central,NaN,High School or Below,2.652060e+05,0.0,70.0,1.0,Corporate Auto,Two-Door Car,484.318536
41,North West,NaN,College,2.771040e+05,50071.0,71.0,0.0,Corporate Auto,Two-Door Car,18.918935
42,West,NaN,Bachelor,3.939000e+05,60021.0,99.0,0.0,Personal Auto,Four-Door Car,882.871945
43,Central,NaN,High School or Below,1.223187e+06,43244.0,103.0,0.0,Personal Auto,Sports Car,494.400000
44,East,M,Doctor,4.951650e+05,46896.0,35354.0,1.0,Personal Auto,Four-Door Car,31.707317
45,North West,NaN,Doctor,1.281910e+06,10105.0,172.0,3.0,Personal Auto,SUV,0.517753
46,Central,NaN,Bachelor,4.468510e+05,0.0,73.0,3.0,Personal Auto,Four-Door Car,579.165954
47,North West,NaN,High School or Below,5.514340e+05,23218.0,71.0,0.0,Personal Auto,Two-Door Car,447.793440
48,West,NaN,Bachelor,3.343870e+05,0.0,92.0,0.0,Corporate Auto,Four-Door Car,529.624084
49,Central,NaN,High School or Below,2.294470e+05,0.0,62.0,0.0,Personal Auto,Four-Door Car,313.023175
50,North West,NaN,College,3.670742e+06,24804.0,104.0,0.0,Personal Auto,SUV,593.830288
51,West,NaN,Bachelor,3.347334e+06,33190.0,106.0,0.0,Corporate Auto,SUV,508.800000
52,Central,NaN,High School or Below,7.983430e+05,36014.0,69.0,3.0,Special Auto,Four-Door Car,173.956072
53,East,F,Master,4.879380e+05,67163.0,61.0,2.0,Personal Auto,Two-Door Car,33.192803
54,West,NaN,Bachelor,4.293990e+05,16701.0,113.0,0.0,Personal Auto,Four-Door Car,831.625979
55,Central,NaN,College,7.164390e+05,46623.0,91.0,0.0,Corporate Auto,Four-Door Car,436.800000
56,West,NaN,College,7.619510e+05,64749.0,64.0,0.0,Special Auto,Four-Door Car,302.565190
57,Central,NaN,High School or Below,3.958000e+05,0.0,101.0,0.0,Personal Auto,SUV,484.800000
58,North West,NaN,High School or Below,4.499490e+05,16969.0,124.0,2.0,Personal Auto,SUV,704.768111
59,North West,NaN,Master,4.059560e+05,11621.0,108.0,0.0,Personal Auto,Four-Door Car,518.400000
60,Central,NaN,Bachelor,4.458110e+05,17622.0,65.0,1.0,Personal Auto,Four-Door Car,312.000000
61,West,NaN,Bachelor,8.110330e+05,11489.0,105.0,0.0,Personal Auto,Two-Door Car,504.000000
62,North West,NaN,Bachelor,3.339760e+05,0.0,94.0,0.0,Personal Auto,Two-Door Car,863.327324
63,West,NaN,High School or Below,2.426101e+06,66525.0,100.0,0.0,Personal Auto,SUV,104.331355
64,Central,NaN,Bachelor,6.613970e+05,0.0,63.0,0.0,Personal Auto,Four-Door Car,676.391482
65,East,NaN,College,2.930690e+05,33663.0,73.0,0.0,Personal Auto,Four-Door Car,350.400000
66,North West,NaN,College,8.672190e+05,22547.0,112.0,0.0,Corporate Auto,SUV,537.600000
67,Central,NaN,High School or Below,1.163866e+06,61486.0,97.0,0.0,Personal Auto,Two-Door Car,465.258644
68,North West,NaN,Bachelor,6.846150e+05,0.0,95.0,0.0,Personal Auto,Two-Door Car,456.000000
69,West,NaN,College,1.172777e+06,29879.0,102.0,0.0,Personal Auto,Four-Door Car,500.254235
70,North West,NaN,High School or Below,2.264383e+06,93011.0,113.0,0.0,Personal Auto,SUV,281.451042
71,North West,NaN,Master,2.614470e+05,65186.0,65.0,0.0,Personal Auto,Two-Door Car,5.434505
72,North West,NaN,Master,2.451750e+05,26840.0,64.0,2.0,Personal Auto,Four-Door Car,307.200000
73,North West,NaN,Bachelor,6.781270e+05,0.0,104.0,1.0,Personal Auto,Sports Car,982.399613
74,North West,NaN,Bachelor,4.974800e+05,75644.0,65.0,3.0,Personal Auto,Two-Door Car,467.803638
75,North West,NaN,Bachelor,8.591600e+05,38984.0,73.0,0.0,Personal Auto,Four-Door Car,350.400000
76,North West,NaN,High School or Below,5.592160e+05,71811.0,71.0,0.0,Personal Auto,Four-Door Car,29.034160
77,Central,NaN,College,8.009470e+05,20961.0,67.0,0.0,Personal Auto,Four-Door Car,321.600000
78,East,F,Master,1.821959e+05,41275.0,96.0,0.0,Personal Auto,Four-Door Car,41.122303
79,West,NaN,Bachelor,5.816655e+06,61321.0,186.0,1.0,Personal Auto,Luxury Car,427.631210
80,West,NaN,College,8.025220e+05,0.0,77.0,0.0,Personal Auto,Two-Door Car,25.807685
81,West,NaN,High School or Below,5.780180e+05,51066.0,74.0,0.0,Personal Auto,Four-Door Car,787.993313
82,West,NaN,Doctor,4.118530e+05,34378.0,102.0,0.0,Personal Auto,SUV,489.600000
83,Central,NaN,Master,2.523070e+05,43072.0,63.0,0.0,Personal Auto,Four-Door Car,302.400000
84,North West,NaN,College,6.554210e+05,25222.0,90.0,0.0,Personal Auto,Four-Door Car,475.623251
85,East,F,Bachelor,5.382750e+05,77552.0,68.0,1.0,Corporate Auto,Four-Door Car,45.215059
86,West,NaN,College,5.926720e+05,23091.0,96.0,5.0,Personal Auto,Four-Door Car,460.800000
87,West,NaN,Bachelor,2.683470e+05,48269.0,69.0,3.0,Corporate Auto,Four-Door Car,282.151207
88,North West,NaN,Bachelor,2.695180e+05,32720.0,67.0,0.0,Personal Auto,Four-Door Car,321.600000
89,West,NaN,College,6.047020e+05,20396.0,76.0,1.0,Personal Auto,Four-Door Car,364.800000
90,North West,NaN,College,1.317101e+06,21513.0,119.0,1.0,Personal Auto,Two-Door Car,679.827592
91,East,F,College,1.595001e+06,0.0,87.0,1.0,Personal Auto,Two-Door Car,46.041452
92,North West,NaN,Bachelor,2.527650e+05,80744.0,63.0,0.0,Corporate Auto,Four-Door Car,11.879037
93,North West,NaN,Bachelor,2.672090e+05,52822.0,67.0,0.0,Corporate Auto,Two-Door Car,350.529033
94,West,NaN,High School or Below,5.313290e+05,0.0,77.0,1.0,Personal Auto,Four-Door Car,863.394700
95,North West,NaN,Bachelor,2.094619e+06,69738.0,74.0,1.0,Personal Auto,Four-Door Car,492.127532
96,Central,NaN,Master,8.375350e+05,17780.0,109.0,0.0,Personal Auto,SUV,132.588288
97,West,NaN,Bachelor,4.801660e+05,18107.0,62.0,0.0,Personal Auto,Four-Door Car,297.600000
98,Central,NaN,Bachelor,5.745940e+05,57740.0,74.0,3.0,Personal Auto,Four-Door Car,269.905129
99,North West,NaN,College,6.066110e+05,32627.0,76.0,0.0,Personal Auto,Two-Door Car,380.036697

In [24]:
# Optional task on vehicle class: replace Luxury SUV and Luxury Car into Luxury Vehicle
old_to_new('Luxury SUV', 'Luxury Vehicle', 'vehicle class')
old_to_new('Luxury Car', 'Luxury Vehicle', 'vehicle class')
df['vehicle class'].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury Vehicle',
       'Sports Car', nan], dtype=object)

In [25]:
df['income'].max()

99981.0

In [26]:
# Removing the outliers using the IQR method

def remove_outlier(column_name, df):
    percentile25 = df[column_name].quantile(0.25)
    percentile75 = df[column_name].quantile(0.75)
    iqr = percentile75 - percentile25
    upper_limit = percentile75 + 1.5 * iqr
    lower_limit = percentile25 - 1.5 * iqr
    #if i in df[column_name] > upper_limit and df[column_name] < lower_limit:
    #    df.replace(i, value = "Outlier", inplace = True)
    df.replace(to_replace = df[column_name][df[column_name] > upper_limit], value = "Outlier", inplace = True)
    df.replace(to_replace = df[column_name][df[column_name] < lower_limit], value = "Outlier", inplace = True)
    number_of_values_replaced = f"you replaced {df[column_name][df[column_name] > upper_limit].shape[0] + df[column_name][df[column_name] < lower_limit].shape[0]} outlier values with the string Outlier"
    return number_of_values_replaced
  
remove_outlier('income', df) 
remove_outlier('customer lifetime value', df) 
remove_outlier('monthly premium auto', df)

'you replaced 447 outlier values with the string Outlier'

In [27]:
df['monthly premium auto'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 12074 entries, 0 to 12073
Series name: monthly premium auto
Non-Null Count  Dtype
--------------  -----
12074 non-null  float64
dtypes: float64(1)
memory usage: 94.5 KB

In [28]:
# saving the Tuesday's work to a new csv

df.to_csv('Tuesday.csv', index=False)