# Pandas: grouping

In [208]:
import pandas as pd
import numpy as np

In [209]:
cars = pd.read_csv("vehicles.csv")

In [210]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

How many Car models?

In [211]:
### your code is here
cars['Model'].value_counts()

F150 Pickup 2WD      197
F150 Pickup 4WD      179
Truck 2WD            173
Mustang              170
Jetta                169
                    ...
C300 Convertible       1
C300 Coupe             1
C300 FFV               1
C320 4matic Sedan      1
DJ Po Vehicle 2WD      1
Name: Model, Length: 3608, dtype: int64

group by the data by the Make  using count function

In [212]:
### your code us here
grouped_make = cars.groupby(['Make'])['Make'].count()
print(grouped_make)

Make
AM General                        4
ASC Incorporated                  1
Acura                           302
Alfa Romeo                       41
American Motors Corporation      22
                               ...
Volkswagen                     1047
Volvo                           717
Wallace Environmental            32
Yugo                              8
smart                            20
Name: Make, Length: 127, dtype: int64

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Converting Gallons to Liters

1 Gallon = 3.78541 Liters

What brand has the most cars?

In [213]:
### your code us here
brand_most_cars = grouped_make.sort_values(ascending=False)
print(brand_most_cars)
# answer = Chevrolet

Make
Chevrolet                             3643
Ford                                  2946
Dodge                                 2360
GMC                                   2347
Toyota                                1836
                                      ...
Excalibur Autos                          1
S and S Coach Company  E.p. Dutton       1
Environmental Rsch and Devp Corp         1
E. P. Dutton, Inc.                       1
Lambda Control Systems                   1
Name: Make, Length: 127, dtype: int64

<b>show the average CO2_Emission_Grams/Km  by Brand

In [214]:
### your code us here
cars.rename(columns = {'CO2 Emission Grams/Mile':'CO2 Emission Grams/Km'}, inplace = True) # renamed the col CO2 Emission Grams/Mile
cars.loc[:,'CO2 Emission Grams/Km'] *= 1/1.60934 
cars['CO2 Emission Grams/Km'].mean()
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Km,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,324.831736,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,424.779962,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,345.133719,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,424.779962,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,345.133719,2550

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [242]:
### your code us here
car_emission = cars.groupby('Make')["CO2 Emission Grams/Km"].mean() 
print(car_emission.sort_values())

Make
Fisker                                105.011992
smart                                 153.498052
Fiat                                  189.311494
Daihatsu                              192.742404
MINI                                  194.935105
                                         ...
Laforza Automobile Inc                502.012683
Bugatti                               542.497235
Superior Coaches Div E.p. Dutton      552.213951
S and S Coach Company  E.p. Dutton    552.213951
Vector                                651.919248
Name: CO2 Emission Grams/Km, Length: 127, dtype: float64

# (Optional)

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [216]:
cars['Year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [217]:
## your code here
cars['cars_year_range'] = pd.cut(cars['Year'],  bins=[1983, 1990, 2000, 2010, 2017]) # some custom bins [1984, 1990, 2000, 2010, 2017] 
cars['cars_year_range']

0        (1983, 1990]
1        (1983, 1990]
2        (1983, 1990]
3        (1983, 1990]
4        (1983, 1990]
             ...
35947    (2010, 2017]
35948    (2010, 2017]
35949    (2010, 2017]
35950    (2010, 2017]
35951    (2010, 2017]
Name: cars_year_range, Length: 35952, dtype: category
Categories (4, interval[int64, right]): [(1983, 1990] < (1990, 2000] < (2000, 2010] < (2010, 2017]]

In [218]:
cars['cars_year_range'].value_counts().sort_index() # checking how many number of cars belong to each year range category/bin

(1983, 1990]     7926
(1990, 2000]     9169
(2000, 2010]    10866
(2010, 2017]     7991
Name: cars_year_range, dtype: int64

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [219]:
### your code is here
cars.rename(columns = {'City MPG':'City KmPL',  'Highway MPG':'Highway KmPL', 'Combined MPG':'Combined KmPL'}, inplace = True) # column renaming
cars.loc[:,'Highway KmPL'] *= 3.78541/1.60934
cars.loc[:,'Combined KmPL'] *= 3.78541/1.60934
cars.loc[:,'City KmPL'] *= 3.78541/1.60934  # column scaling for unit change

cars.groupby(['City KmPL', 'cars_year_range'])['City KmPL'].mean()

City KmPL   cars_year_range
14.112903   (1983, 1990]        14.112903
            (1990, 2000]              NaN
            (2000, 2010]              NaN
            (2010, 2017]              NaN
16.465054   (1983, 1990]        16.465054
                                  ...
127.016131  (2010, 2017]       127.016131
136.424733  (1983, 1990]              NaN
            (1990, 2000]              NaN
            (2000, 2010]              NaN
            (2010, 2017]       136.424733
Name: City KmPL, Length: 192, dtype: float64

In [220]:
cars

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City KmPL,Highway KmPL,Combined KmPL,CO2 Emission Grams/Km,Fuel Cost/Year,cars_year_range
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,42.338710,39.986560,39.986560,324.831736,1950,"(1983, 1990]"
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,30.577957,30.577957,30.577957,424.779962,2550,"(1983, 1990]"
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,37.634409,39.986560,37.634409,345.133719,2100,"(1983, 1990]"
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,30.577957,30.577957,30.577957,424.779962,2550,"(1983, 1990]"
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,32.930108,49.395162,37.634409,345.133719,2550,"(1983, 1990]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,79.973119,89.381722,84.677421,151.614948,1100,"(2010, 2017]"
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,79.973119,89.381722,84.677421,150.993575,1100,"(2010, 2017]"
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,79.973119,89.381722,84.677421,151.614948,1100,"(2010, 2017]"
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,79.973119,91.733872,84.677421,152.857693,1100,"(2010, 2017]"
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,75.268818,91.733872,82.325270,158.450048,1150,"(2010, 2017]"

Which brands are more environment friendly?

In [243]:
### your code is here
cars.groupby(['CO2 Emission Grams/Km'])

Does the drivetrain affect fuel consumption?

In [ ]:
## Your Code here

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [ ]:
## Your Code here

Use `groupby` and `agg` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [ ]:
## your code is here

aggregate with average City_Km/Liter and the minimum of the Trans

In [ ]:
### your code is here